html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/* --- */
.gallery-manager input[type="radio"],
.gallery-manager input[type="checkbox"] {
    vertical-align: top;
}
.gallery-manager .photo img {
    width: auto;
}
.gallery-manager .photo .image-preview {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 130px;
}
.gallery-manager .photo-editor > :first-child {
    text-align: center;
}
.page-gallery {
    background: #012;
}
.page-gallery .fotorama__thumb-border {
    border-color: #fff;
}
.fotorama .heart {
    position: absolute;
    bottom: 40px;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}
.fotorama .heart a {
    cursor: pointer;
    font-size: 100px;
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    color: #fff;
    opacity: .75;
    -webkit-transition: opacity .15s ease-out;
    -moz-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
}
.fotorama .noheart a {
    opacity: 0 !important;
    -webkit-transition: opacity .15s ease-out !important;
    -moz-transition: opacity .15s ease-out !important;
    -o-transition: opacity .15s ease-out !important;
    transition: opacity .15s ease-out !important;
}
.fotorama .lowheart a {
    opacity: .25;
}
.fotorama .heart a:hover,
.fotorama .heart a:focus {
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.fotorama .heart .glyphicon {
    margin-left: -7px;
}
.fotorama .heart .liked {
    color: #f12938;
}
.fotorama .heart .cnt {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 45px;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    font-size: 14px;
}
.fotorama .heart .liked .cnt {
    text-shadow: none;
}
.page-gallery h1 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}
.page-gallery .title,
.page-gallery .desc,
.fotorama__caption__wrap {
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 2px #000;
    line-height: 20px;
    color: #fff;
    padding: 7px 10px;
    background: rgba(0, 0, 0, .5);
    max-width: 40%;
}
.page-gallery .title,
.page-gallery .desc {
    position: fixed;
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; // IE10+
    user-select: none;
}
.page-gallery .title {
    top: 0;
    left: 0;
    z-index: 2;
}
.page-gallery .title .glyphicon {
    font-size: 15px;
    width: 20px;
    vertical-align: top;
    margin-top: 3px;
}
.page-gallery .title a {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}
.page-gallery .title a:hover,
.page-gallery .title a:focus {
    color: #fff;
}
.page-gallery .title ul {
    padding: 0;
    margin: 0 0 5px;
    list-style-type: none;
    display: none;
}
.page-gallery .title li {
    margin: 10px 0 0;
}
.page-gallery .desc {
    top: 34px;
    z-index: 1;
}
.page-gallery .desc > p {
    margin: 0;
    overflow: hidden;
}
.page-gallery .desc > a {
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 7px;
    opacity: 0;
}
.page-gallery .desc a {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}
.page-gallery .desc a:hover {
    color: #fff;
}
.fotorama__caption__wrap {
    float: right;
}
.fotorama__caption a,
.page-gallery .desc > p a {
    text-decoration: none;
    color: #337ab7;
    border-bottom: 0 none;
}
.fotorama__caption a:hover,
.fotorama__caption a:focus,
.page-gallery .desc > p a:hover,
.page-gallery .desc > p a:focus {
    text-decoration: underline;
    color: #23527c;
}
.no-events {
    pointer-events: none;
}
